:root{
    --primary: #F8F4E1;
    --secondary: #AF8F6F;
    --choclate: #74512D;
    --dark-choclate: #543310;
    --white: #efefee;
    --black: #0f0f0f;
}
#gameBoard,
#gameBoard .card-header,
#gameBoard .card-footer{
    background-image: url("../img/bg_2.jpeg");    
    
}
#gameBoard .card{
    box-shadow:  1px 1px 10px 1px var(--dark-choclate);
    font-family: var(--font-1);
}
#gameBoard .card-body{
    background-color: var(--secondary);
    display: flex;
}
#score-board{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#canvas{
    width: 100%;
}
#game_img{
    border: 1px solid var(--dark-choclate);
    width: 100%;
}
.game-control{  
    color: var(--dark-choclate);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

}
.game-control i{
    font-size: 1.5em;
}
.game-control, .score{
    text-align: center;
}
.clear-dialog{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}
.clear-dialog .card{
    background-color: var(--primary);
    text-align: center;
    width: 80%;
    max-width: 300px;
}
.clear-dialog i {
    color: var(--dark-choclate);
}
.before-play{
    font-size: 1.5rem;
    text-transform: capitalize;
}
.after-play{
    width: 100%;
}
.after-play .row{
    justify-content: space-between;
    padding-top: 10px;

}
.step,
.score{
    box-shadow: inset 3px -3px 10px 0px var(--dark-choclate);
    border-radius: 5px;
}
.step i,
.score i{
    font-size: 0.8rem;    
}