:root{
    --primary: #F8F4E1;
    --secondary: #AF8F6F;
    --choclate: #74512D;
    --dark-choclate: #543310;
    --white: #efefee;
    --black: #0f0f0f;
}
#score-board{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
}
.game-control, .score{
    text-align: center;
}