*{
    box-sizing: border-box;
}
#board{
    overflow: hidden;
}
#main-board{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
#top-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: grey;
    color: white;
}
#loading{
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#loading i{
    font-size: 3rem;
}
#stage{
    cursor: pointer;
}
#gameBoard{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameBoard .card{
    /* max-width: 80%; */
}
